.App{
  display: flex;
  flex-direction: column;
}

.fedex {
    width:20%;
}

.box{
  width:30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
